<!-- sidebar.html -->
<div th:fragment="sidebar">
    <div class="border-end bg-white vh-100" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light text-center py-3">
            <a th:href="@{/dashboard}">
                <img th:src="@{/assets/img/logo2.png}" alt="로고"
                     class="img-fluid logo-hover"
                     style="max-height: 80px;"/>
            </a>
        </div>
        <div class="list-group list-group-flush">

            <!-- 🔻 구분선 -->
            <div class="border-top my-2"></div>
            <div class="text-muted small text-uppercase px-3">관리 메뉴</div>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/members}">
                <i class="bi bi-person-lines-fill me-2"></i> 회원 관리
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/payment}">
                <i class="bi bi-credit-card me-2"></i> 결제 관리
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/trainer}">
                <i class="bi bi-people-fill me-2"></i> 강사 관리
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/products}">
                <i class="bi bi-box-seam me-2"></i> 상품 관리
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/lecture}">
                <i class="bi bi-calendar-event me-2"></i> 수업 관리 (old)
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/lecture/new}">
                <i class="bi bi-calendar-event me-2"></i> 수업 관리 (Migration)
            </a>

            <!-- 🔻 구분선 -->
            <div class="border-top my-2"></div>


            <!-- 📊 리포트/분석 영역 -->
            <div class="text-muted small text-uppercase px-3">리포트</div>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/care}">
                <i class="bi bi-heart-pulse me-2"></i> 회원 CARE
            </a>

            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/statistics}">
                <i class="bi bi-bar-chart-line me-2"></i> 매출 현황
            </a>

<!--            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">-->
<!--                <i class="bi bi-clipboard-check me-2"></i> 매출 집계-->
<!--            </a>-->

        </div>
    </div>
</div>
