<!-- sidebar.html -->
<div th:fragment="sidebar">
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">시설관리</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/members}">회원 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">회원권 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">회원 현황</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">강사 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">수업 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">출석 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">결제 관리</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">매출 관리</a>
        </div>
    </div>
</div>