<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managesolution.mapper.PaymentMapper">
    <select id="findPaymentHistory" resultType="PaymentHistoryDTO">
        SELECT
        p.paidAt AS paymentDate,
        m.name AS memberName,
        m.phone,
        prod.name AS productName,
        prod.type AS productType,
        p.amount,
        p.method,
        s.startDate,
        s.endDate
        FROM payment p
        INNER JOIN member m ON p.memberId = m.memberId
        LEFT JOIN subscription s ON s.paymentId = p.paymentId
        LEFT JOIN product prod ON p.productId = prod.productId
        <where>
            <if test="keyword != null and keyword != ''">
                AND m.name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="startDate != null">
                AND p.paidAt &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND p.paidAt &lt;= #{endDate}
            </if>
        </where>
        ORDER BY p.paidAt DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT
        p.paidAt AS paymentDate,
        m.name AS memberName,
        m.phone,
        prod.name AS productName,
        prod.type AS productType,
        p.amount,
        p.method,
        s.startDate,
        s.endDate
        FROM payment p
        INNER JOIN member m ON p.memberId = m.memberId
        LEFT JOIN product prod ON p.productId = prod.productId
        LEFT JOIN subscription s ON s.paymentId = p.paymentId
        <where>
            <if test="keyword != null and keyword != ''">
                AND m.name LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="startDate != null">
                AND p.paidAt &gt;= #{startDate}
            </if>
            <if test="endDate != null">
                AND p.paidAt &lt;= #{endDate}
            </if>
        </where>
        ) t
    </select>

    <insert id="insertPayment" useGeneratedKeys="true" keyProperty="paymentId">
        INSERT INTO payment (memberId, productId, amount, method, paidAt)
        VALUES (#{memberId}, #{productId}, #{amount}, #{method}, #{paidAt})
    </insert>
    
    <select id="findTotalSales" resultType="long">
        SELECT COALESCE(SUM(amount), 0) AS totalSales
        FROM payment;
    </select>

    <select id="findMonthlySales" resultType="long">
        SELECT COALESCE(SUM(amount), 0) AS monthlySales
        FROM payment
        WHERE FORMATDATETIME(paidAt, 'yyyy-MM') = FORMATDATETIME(CURRENT_DATE, 'yyyy-MM');
    </select>

    <select id="findDailySales" resultType="long">
        SELECT COALESCE(SUM(amount), 0) AS dailySales
        FROM payment
        WHERE CAST(paidAt AS DATE) = CURRENT_DATE;
    </select>

    <select id="selectChartData" resultType="LabelAndAmountDTO">
        SELECT
        <choose>
            <when test="type == 'year'">
                FORMATDATETIME(paidAt, 'yyyy')
            </when>
            <when test="type == 'month'">
                FORMATDATETIME(paidAt, 'yyyy-MM')
            </when>
            <otherwise>
                FORMATDATETIME(paidAt, 'yyyy-MM-dd')
            </otherwise>
        </choose>
        AS label,
        SUM(amount) AS amount
        FROM payment
        WHERE FORMATDATETIME(paidAt, 'yyyy-MM-dd') BETWEEN #{startDate} AND #{endDate}
        GROUP BY label
        ORDER BY label
    </select>

    <select id="findStatisticsDetails" resultType="DetailStatisticsDTO">
        SELECT
            m.name AS memberName,
            pd.name AS productName,
            pm.paidAt AS date,
            pm.amount AS amount
        FROM payment pm
                LEFT OUTER JOIN member m
                             ON pm.memberId = m.memberId
                LEFT OUTER JOIN product pd
                             ON pm.productId = pd.productId
        WHERE paidAt BETWEEN #{startDate} AND #{endDate}
        AND pd.name = #{name}
    </select>

</mapper>
