<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managesolution.mapper.PtSessionMapper">
    <select id="getSessionCountByMonth" parameterType="map" resultType="DayLessonDTO">
        SELECT
            DAY_OF_MONTH(sessionDate) AS "day",
            COUNT(*) AS lessonCount
        FROM pt_session
        WHERE sessionDate BETWEEN #{startDate} AND #{endDate}
        GROUP BY DAY_OF_MONTH(sessionDate)
    </select>

    <select id="selectLessonsByDate" parameterType="date" resultType="LessonDTO">
        SELECT
            s.sessionId AS sessionId,
            s.memberId AS memberId,
            s.packageId,
            m.name AS memberName,
            u.name AS trainerName,
            s.sessionDate,
            s.sessionTime,
            EXISTS (
                SELECT 1 FROM attendance a
                WHERE a.sessionId = s.sessionId
                  AND a.memberId = s.memberId
            ) AS attended,
            (select a.status from attendance a
                where a.sessionId = s.sessionId
                  AND a.memberId = s.memberId
            ) AS status
        FROM pt_session s
                 JOIN member m ON s.memberId = m.memberId
                 JOIN app_user u ON s.trainerId = u.userId
        WHERE s.sessionDate = #{sessionDate}
        ORDER BY s.sessionTime ASC
    </select>

    <insert id="insert" parameterType="PtSession" useGeneratedKeys="true" keyProperty="ptSessionId">
        INSERT INTO pt_session (memberId, trainerId, packageId, sessionDate, sessionTime)
        VALUES ( #{memberId}, #{trainerId},#{packageId}, #{sessionDate}, #{sessionTime} )
    </insert>

    <delete id="deleteById" parameterType="long">
        DELETE FROM pt_session WHERE sessionId = #{id}
    </delete>

</mapper>
