<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managesolution.mapper.MemberMapper">

<!--&lt;!&ndash;    조회&ndash;&gt;-->
<!--    <select id="selectByTno" resultType="Test">-->
<!--        SELECT * FROM test WHERE tno = #{tno}-->
<!--    </select>-->

<!--&lt;!&ndash;모두 조회&ndash;&gt;-->
<!--    <select id="selectAll" resultType="Test">-->
<!--        SELECT * FROM test-->
<!--    </select>-->

<!--&lt;!&ndash;insert&ndash;&gt;-->
<!--    <insert id="insert" parameterType="Test">-->
<!--        INSERT INTO test (tno, test)-->
<!--        VALUES (#{tno}, #{test})-->
<!--    </insert>-->

<!--&lt;!&ndash;    delete&ndash;&gt;-->
<!--    <delete id="deleteByTno" parameterType="long">-->
<!--        DELETE FROM test WHERE tno = #{tno}-->
<!--    </delete>-->

</mapper>
