<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.managesolution.mapper.TrainerMapper">

    <select id="getAllTrainer" parameterType="string" resultType="TrainerDTO">
        SELECT
            t.trainerId,
            a.name,
            t.phone,
            t.birthDate,
            a.email,
            t.gender,
            t.payPerSession,
            t.baseSalary,
            t.careerYears
        FROM trainer t
                JOIN app_user a ON t.trainerId = a.userId
    </select>

    <insert id="insert" parameterType="Trainer" keyProperty="trainerId">
        INSERT INTO trainer (trainerId, phone, gender, birthDate, baseSalary, payPerSession, careerYears, created_at)
        VALUES (#{trainerId}, #{phone}, #{gender}, #{birthDate}, #{baseSalary}, #{payPerSession},#{careerYears},#{createdAt})
    </insert>

    <select id="findAllTrainerNames">
        select a.name
        from trainer t
                 JOIN app_user a ON t.trainerId = a.userId
    </select>

    <select id="getMonthlyMemberCountsRaw" resultType="MonthCountDTO">
        SELECT TO_CHAR(months.dt, 'yyyy-MM') AS "month",
               COUNT(DISTINCT s.memberId) AS count
        FROM (
                 SELECT DATEADD('MONTH', -5, CURRENT_DATE) AS dt
                 UNION ALL SELECT DATEADD('MONTH', -4, CURRENT_DATE)
                 UNION ALL SELECT DATEADD('MONTH', -3, CURRENT_DATE)
                 UNION ALL SELECT DATEADD('MONTH', -2, CURRENT_DATE)
                 UNION ALL SELECT DATEADD('MONTH', -1, CURRENT_DATE)
                 UNION ALL SELECT CURRENT_DATE
             ) months
                 LEFT JOIN subscription s
                           ON s.productType = 'PT'
                               AND months.dt BETWEEN s.startDate AND s.endDate
                 JOIN app_user u ON s.trainerId = u.userId
        WHERE u.name = #{trainerName}
        GROUP BY TO_CHAR(months.dt, 'yyyy-MM')
        ORDER BY "month"
    </select>

    <select id="findTrainerById" parameterType="long" resultType="TrainerFormDTO">
        SELECT
            t.trainerId as trainerId,
            u.email as email,
            u.password as password,
            u.name as name,
            t.phone as phone,
            u.role as role,
            t.birthDate as birthDate,
            t.gender as gender,
            t.payPerSession as payPerSession,
            t.baseSalary as baseSalary,
            t.careerYears as careerYears,
            t.updated_at as updatedAt,
            t.created_at as createdAt
        FROM trainer t
                JOIN app_user u
                  ON t.trainerId = u.userId
        WHERE t.trainerId = #{trainerId}
    </select>

    <update id="update" parameterType="Trainer">
        UPDATE trainer
        SET birthDate = #{birthDate},
            gender = #{gender},
            phone = #{phone},
            payPerSession = #{payPerSession},
            baseSalary = #{baseSalary},
            careerYears = #{careerYears},
            updated_at = #{updatedAt}
        WHERE trainerId = #{trainerId}
    </update>

</mapper>
